*.user
*.cachefile
/idTech4Content/obj/
/idTech4/obj
/idTech4/bin
/idTech4.ContentPipeline.BImage/bin
/idTech4.ContentPipeline.BImage/obj
/idTech4.Platform.Win32/bin
/idTech4.Platform.Win32/obj
/idTech4.Platform.Xbox360/bin
/idTech4.Platform.Xbox360/obj
/idtech4.net.suo
/idtech4.net.sln.docstates.suo