
Doom3.suo
idEngine/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
idEngine/obj/x86/Debug/GenerateResource.read.1.tlog
idEngine/obj/x86/Debug/GenerateResource.write.1.tlog
idEngine/obj/x86/Debug/idEngine.csproj.FileListAbsolute.txt
idEngine/obj/x86/Debug/ResolveAssemblyReference.cache
idLib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
idGame/obj/Debug/ResolveAssemblyReference.cache
idLib/obj/Debug/ResolveAssemblyReference.cache
idLib/obj/Debug/idLib.csproj.FileListAbsolute.txt
idEngineContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
idGame/obj/Debug/idGame.csproj.FileListAbsolute.txt
idGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
idEngine/obj/x86/Debug/Microsoft.Xna.Framework.RuntimeProfile.txt
idEngine/obj/x86/Debug/idTech4.SystemConsole.resources