*.user
*.userprefs
*.cachefile
*.mdb
idTech4/obj
idTech4/bin
idTech4.ContentPipeline.BImage/bin
idTech4.ContentPipeline.BImage/obj
idTech4.Platform.Win32/bin
idTech4.Platform.Win32/obj
idTech4.Platform.Xbox360/bin
idTech4.Platform.Xbox360/obj
idtech4.net.suo
idtech4.net.sln.docstates.suo
idTech4.Content.Pipeline.BImageImporter/bin
idTech4.Content.Pipeline.BImageImporter/obj
idTech4.Content.Pipeline.BSWFImporter/bin
idTech4.Content.Pipeline.BSWFImporter/obj
idTech4.Content.Pipeline.FontImporter/bin
idTech4.Content.Pipeline.FontImporter/obj
idTech4.Content.Pipeline.MaterialImporter/bin
idTech4.Content.Pipeline.MaterialImporter/obj
idTech4.Content.Pipeline.SWFImporter/bin
idTech4.Content.Pipeline.SWFImporter/obj
idTech4.Content.Pipeline/bin
idTech4.Content.Pipeline/obj
idTech4.Game/obj
idTech4.Platform.PC/bin
idTech4.Platform.PC/obj
idTech4.UI.SWF/bin
idTech4.UI.SWF/obj
DOOM3/obj
DOOM3/bin
DOOM3Content/bin
DOOM3Content/obj
MonoGame/idTech4/obj
MonoGame/idTech4/bin
MonoGame/idTech4.ContentPipeline.BImage/bin
MonoGame/idTech4.ContentPipeline.BImage/obj
MonoGame/idTech4.Platform.Win32/bin
MonoGame/idTech4.Platform.Win32/obj
MonoGame/idTech4.Platform.Xbox360/bin
MonoGame/idTech4.Platform.Xbox360/obj
MonoGame/idtech4.net.suo
MonoGame/idtech4.net.sln.docstates.suo
MonoGame/idTech4.Content.Pipeline.BImageImporter/bin
MonoGame/idTech4.Content.Pipeline.BImageImporter/obj
MonoGame/idTech4.Content.Pipeline.BSWFImporter/bin
MonoGame/idTech4.Content.Pipeline.BSWFImporter/obj
MonoGame/idTech4.Content.Pipeline.FontImporter/bin
MonoGame/idTech4.Content.Pipeline.FontImporter/obj
MonoGame/idTech4.Content.Pipeline.MaterialImporter/bin
MonoGame/idTech4.Content.Pipeline.MaterialImporter/obj
MonoGame/idTech4.Content.Pipeline.SWFImporter/bin
MonoGame/idTech4.Content.Pipeline.SWFImporter/obj
MonoGame/idTech4.Content.Pipeline/bin
MonoGame/idTech4.Content.Pipeline/obj
MonoGame/idTech4.Game/obj
MonoGame/idTech4.Platform.PC/bin
MonoGame/idTech4.Platform.PC/obj
MonoGame/idTech4.UI.SWF/bin
MonoGame/idTech4.UI.SWF/obj
MonoGame/DOOM3/obj
MonoGame/DOOM3/bin
MonoGame/DOOM3Content/bin
MonoGame/DOOM3Content/obj
